.container
  width 100%
  height 100%
  margin 0 auto 
  font 500 14px/1.67 'Roboto', sans-serif
  text-rendering optimizeSpeed
  letter-spacing 0
  border 1px solid $dev-color
  background $primary-color
  display flex
  flex-direction column