.header
  border-top 8px solid $secondary-color
  background $primary-color
  width 100%

.header__block
  border 1px solid $dev-color
  margin 0 auto
  width 100%
  padding $spacing-level2
  display flex
  align-items center
  justify-content center
  flex-direction column

.header__block__title
  border 1px solid $dev-color
  margin 0
  color $text-color-II
  font-weight 300
  font-size 48px

@media(min-width 700px)
  .header__block__title
    font-size 62px

.header__block__text
  border 1px solid $dev-color
  display flex
  align-items baseline
  justify-content center

.header__block__description
  color $item-bg
  margin-top $spacing-level1 0 0 0
  font-size 18px
  margin 0

@media(min-width 700px)
  .header__block__description
    font-size 22px

.header__block__img
  width 25px
  margin-left $spacing-level1
  
