.beer-list
  width 100%
  max-width 800px
  margin $spacing-level3 auto
  padding 0
  border 1px solid $dev-color
  background $primary-color

.beer-list__item
  width 100%
  padding $spacing-level1
  list-style none
  margin 0 auto 5px auto
  max-width 600px
  border 1px solid $dev-color
  background $item-bg
  cursor pointer

.beer-list__item:hover
  background $item-hover

.beer-list__item__link
  text-decoration none
  color $text-color-I
  font-family 'Roboto', sans-serif
  font-weight 500
  display flex
  flex-direction column

.beer-list__item__link__name
  font-size 20px
  margin-bottom 2px

.beer-list__item__link__tagline
  font-size 14px

.beer-hasErrored
  font-size 32px
  color $text-color-I
  z-index 1
  height 100%

.beer-list-loading
  width 100%
  height 100%
  display flex
  align-items center
  flex-direction column

.beer-list-loading__img
  width 120px
  margin 0

.beer-list-loading__text
  color $secondary-color
  font-size 20px
  font-weight 300
  margin 0

.beer-list-has-errored
  display flex
  flex 1
  justify-content center
  align-items center
  flex-direction column
  width 100%

.beer-list-has-errored__img
  width 60%

@media(min-width 700px)
  .beer-list-has-errored__img
    width 30%

.beer-list-has-errored__text
  color $secondary-color
  font-size 18px
  font-weight 300
  max-width 250px
  width 100%
  margin 0

@media(min-width 700px)
  .beer-list-has-errored__text
    max-width 400px
    font-size 22px